/wxz/
/project.json
/.venv/
/.pytest_cache/
/.ruff_cache/
**/__pycache__/
*.py[cod]
*.egg-info/
/dist/
/build/
.env
.env.*
*apikey*
*token*.txt
*password*.txt
accounts.json
*.sqlite*
*.db
*.pt
*.onnx
*.log
